NET clkn LOC = E18 | IOSTANDARD=LVDS;
NET clkp LOC = E19 | IOSTANDARD=LVDS;
//NET reset LOC = AL34 | IOSTANDARD=LVCMOS18;
//NET timeout_interrupt LOC = AM39 | IOSTANDARD=LVCMOS18;



//NET serial_data_out LOC = AM39 | IOSTANDARD=LVCMOS18;
NET start LOC = AU38 | IOSTANDARD=LVCMOS18;
NET reset LOC = AW40 | IOSTANDARD=LVCMOS18;

// USER_SMA_CLOCK_P
NET done_transmit LOC = AJ32 | IOSTANDARD=LVCMOS18;
// USER_SMA_CLOCK_N
//NET counter_out[0] LOC = AK32 | IOSTANDARD=LVCMOS18;
//NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
// USER_SMA_GPIO_N
//NET counter_out[1] LOC = AP31 | IOSTANDARD=LVCMOS18;
// USER_SMA_GPIO_P
//NET counter_out[2] LOC = AN31 | IOSTANDARD=LVCMOS18;

// GPIO DIP switch pins
NET data_in[0] LOC = AV30 | IOSTANDARD=LVCMOS18;
NET data_in[1] LOC = AY33 | IOSTANDARD=LVCMOS18;
NET data_in[2] LOC = BA31 | IOSTANDARD=LVCMOS18;
NET data_in[3] LOC = BA32 | IOSTANDARD=LVCMOS18;
NET data_in[4] LOC = AW30 | IOSTANDARD=LVCMOS18;
NET data_in[5] LOC = AY30 | IOSTANDARD=LVCMOS18;
NET data_in[6] LOC = BA30 | IOSTANDARD=LVCMOS18;
NET data_in[7] LOC = BB31 | IOSTANDARD=LVCMOS18;

//NET test_pin LOC = AM39 | IOSTANDARD=LVCMOS18;
//NET test_pin_3 LOC = AN39 | IOSTANDARD=LVCMOS18;
//NET test_pin_4 LOC = AR37 | IOSTANDARD=LVCMOS18;
//NET test_pin_5 LOC = AT37 | IOSTANDARD=LVCMOS18;
//NET test_pin_6 LOC = AR35 | IOSTANDARD=LVCMOS18;

//NET test_pin_2 LOC = AP41 | IOSTANDARD=LVCMOS18;
//NET done_transmit LOC = AP42 | IOSTANDARD=LVCMOS18;
NET serial_data_out LOC = AU39 | IOSTANDARD=LVCMOS18;
